<div class="row">
  <div class="col-md-12">

    <!-- Main panel -->
    <div class="panel panel-default">

      <!-- Main panel heading -->
      <div class="panel-heading">
        <h3 class="panel-title">
          All Journeys
        </h3>
      </div>

      <!-- Main panel body -->
      <div class="panel-body">

        <!-- Filter -->
        <div class="collapse" id="journey_form">

          <p class="lead">Search for journeys:</p>

          <%= search_form_for @q do |f| %>

          <div class="form-group">
            <%= f.label :origin_eq, "Origin" %>
            <%= f.select :origin_eq, options_from_collection_for_select(Journey.all, :origin, :origin, @q.origin_eq), { :prompt => "Select Origin" }, :class => "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :destination_eq, "Destination" %>
            <%= f.select :destination_eq, options_from_collection_for_select(Journey.all, :origin, :origin, @q.origin_eq), { :prompt => "Select Destination" }, :class => "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :date_gteq, "Date"%>
            <%= f.text_field :date_gteq, :id => 'datetimepicker', :class => "form-control", :placeholder => "Select date" %>
          </div>

          <%= f.submit :class => "btn btn-info btn-block mb-1" %>

          <a href="/journeys" class="btn btn-default btn-block mb-1">
            Clear filters</a>

            <% end %>

          </div>

          <a class="btn btn-primary btn-block mb-1" data-toggle="collapse" href="#journey_form" >
            <i class="fa fa-filter" aria-hidden="true"></i>
            Show Filters
          </a>

          <a class="btn btn-success btn-block mb-1" href="/journeys/new">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Create new journey
          </a>

        </div>

        <!-- Journey table -->
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <tr>
              <th>Date</th>
              <th>Origin</th>
              <th>Destination</th>
              <th>Capacity</th>
              <th>Actions</th>
            </tr>

            <% @journeys.each do |journey| %>

            <tr>
              <td class="timestring"><%= journey.date %></td>
              <td><%= journey.origin %></td>
              <td><%= journey.destination %></td>
              <td><%= journey.capacity - journey.seats.count %></td>
              <td>

                <% if journey.organizer_id == current_user.id %>

                <!-- Buttons for organizer -->
                <div class="btn-group">
                  <a href="/journeys/<%= journey.id %>" class="btn btn-primary">Show</a>
                </div>

                <div class="btn-group">
                  <a href="/journeys/<%= journey.id %>/edit" class="btn btn-warning">Edit</a>
                </div>

                <% else %>

                <!-- Buttons for other user -->
                <div class="btn-group">
                  <a href="/journeys/<%= journey.id %>" class="btn btn-primary">Show</a>
                </div>

                <div class="btn-group">
                  <form action="/create_seat" method="post">
                    <!-- Hidden input for authenticity token to protect from forgery -->
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <!-- Label and input for journey_id -->
                    <input type="hidden" name="journey_id" value="<%= journey.id %>">
                    <!-- Label and input for user_id -->
                    <input type="hidden" name="user_id" value="<%= current_user.id %>">
                    <!-- Button for form -->
                    <button class="btn btn-success">
                      Join
                    </button>
                  </form>
                </div>

                <% end %>

              </td>
            </tr>
            <% end %>
          </table>
        </div>

      </div>

    </div>

  </div>
</div>


<!-- Script for datetimepicker format -->
<script type="text/javascript">
$(function () {
  $('#datetimepicker').datetimepicker({
    format: 'MMM D, h:mmA',
    sideBySide: true,
    stepping: '15',
  });
});
</script>
