<div class="page-header">
  <h3>Journey #<%= @journey.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Origin</dt>
      <dd><%= @journey.origin %></dd>

      <dt>Destination</dt>
      <dd><%= @journey.destination %></dd>

      <dt>Capacity</dt>
      <dd><%= @journey.capacity %></dd>

      <dt>Date</dt>
      <dd><%= @journey.date %></dd>

      <dt>Price</dt>
      <dd><%= @journey.price %></dd>

      <dt>Organizer</dt>
      <dd><%= @journey.organizer_id %></dd>

      <dt> map 2 </dt>
      <dd><%= @url %></dd>

      <dd>
        <!-- Code for Google Map -->
        <!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

        <script>
        var map;
        function initialize() {

        var myLatlng = new google.maps.LatLng(<%= @latitude %>, <%= @longitude %>);

        var mapOptions = {
        zoom: 15,
        center: myLatlng
      };

      map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

      var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Au Cheval'
    });
  }

  google.maps.event.addDomListener(window, 'load', initialize);

</script>
<div id="map-canvas"></div>
</dd> -->
<dt> TEST </dt>
<dd>
<%= @from %>
<p>
<%= @to %>
</p>
</dd>
<div>
    <div id="floating-panel">
    <b>Start: </b>
    <select id="start">
      <option value="chicago, il">Chicago</option>
      <option value="st louis, mo">St Louis</option>
      <option value="joplin, mo">Joplin, MO</option>
      <option value="oklahoma city, ok">Oklahoma City</option>
      <option value="amarillo, tx">Amarillo</option>
      <option value="gallup, nm">Gallup, NM</option>
      <option value="flagstaff, az">Flagstaff, AZ</option>
      <option value="winona, az">Winona</option>
      <option value="kingman, az">Kingman</option>
      <option value="barstow, ca">Barstow</option>
      <option value="san bernardino, ca">San Bernardino</option>
      <option value="los angeles, ca">Los Angeles</option>
    </select>

    <b>End: </b>
    <select id="end">
      <option value="chicago, il">Chicago</option>
      <option value="st louis, mo">St Louis</option>
      <option value="joplin, mo">Joplin, MO</option>
      <option value="oklahoma city, ok">Oklahoma City</option>
      <option value="amarillo, tx">Amarillo</option>
      <option value="gallup, nm">Gallup, NM</option>
      <option value="flagstaff, az">Flagstaff, AZ</option>
      <option value="winona, az">Winona</option>
      <option value="kingman, az">Kingman</option>
      <option value="barstow, ca">Barstow</option>
      <option value="san bernardino, ca">San Bernardino</option>
      <option value="los angeles, ca">Los Angeles</option>
    </select>



    </div>
    <div id="map"></div>
    <script>
      function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 7,
          center: {lat: 41.85, lng: -87.65}
        });
        directionsDisplay.setMap(map);

        var onChangeHandler = function() {
          calculateAndDisplayRoute(directionsService, directionsDisplay);
        };
        document.getElementById('start').addEventListener('change', onChangeHandler);
        document.getElementById('end').addEventListener('change', onChangeHandler);
      }

      function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        directionsService.route({
          origin: document.getElementById('start').value,
          destination: document.getElementById('end').value,
          travelMode: 'DRIVING'
        }, function(response, status) {
          if (status === 'OK') {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_nAWVr-18Oi_XoadzVHmNT2vevvJfev4&callback=initMap">
    </script>
  </div>

  <dt> price </dt>

  <dd>

    <div id="lyft-web-button-parent"></div>
    <script type="text/javascript">
    !function(e,t,n,o,l,i,a,c,d,r,u,y,f,m,b,s){var B=t.createElement('script');B.async=!0,
    B.onload=function(){s!==o&&(e[s]=e[o],delete e[o]),b!==l&&(e[b]=e[l],delete e[l]);
      var n={address:d,latitude:r,longitude:u,name:y};e[s].initialize({clientId:i,clientToken:a,
        googleApiKey:c,location:n,objectName:s,parentElement:t.body}),e[b].initialize({clientId:i,
          clientToken:a,location:n,objectName:b,onClick:function(){return e[s].open(),!1},
          parentElement:f,theme:m})},B.src=n,f.insertBefore(B,f.childNodes[0])}(window,document,
            'https://cdn.lyft.com/lyft-web-sdk/1.1.2/lyftWebButton.min.js','lyftWebModal',
            'lyftWebButton','-PoccgdT6obM',
            'eDML1DNeun3HevxzN3xICxpWoYxwlAAzUC+wqkqxjhyFr3JekQ1XihIofv0hSduaCry3nsESGT79Te+8Yiayxv5XQqF8MRHckQJoIq84iuy+8w/RTKDxqLw=',
            'AIzaSyAvfIZDeQLpHcFDlWKw4Ys-VoGyw2vwjxM',
            '360 East South Water Street, Chicago, IL 60601, USA',
            '41.8866138','-87.61810650000001','Tobias',
            document.getElementById('lyft-web-button-parent'),
            'multicolor','lyftWebButton','lyftWebModal'
          );
          </script>

        </dd>

        <dt> UBER </dt>

        <dd>


          <%= array = @client.price_estimations(start_latitude: "37.7772", start_longitude: "-122.4233",
          end_latitude: "37.7972", end_longitude: "-122.4533") %>

        </dd>
        <dt> TEST </dt>
        <dd>
          <%= array[1].estimate %>
          <p>
            <%= array[1].duration %>
          </p>
        </dd>



        <% time = @client.time_estimations(start_latitude: "37.7772", start_longitude: "-122.4233") %>
        <p>
          <%= time[1].estimate
          %>
        </p>


        <p>
          <% request = @client.trip_request(product_id: "uberX", start_latitude: "37.7772", start_longitude: "-122.4233", end_latitude: "37.7972", end_longitude: "-122.4533")%>
          <%= request %>
        </p>

      </div>
    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/journeys" class="btn btn-primary">
        Back
      </a>
      <a href="/journeys/<%= @journey.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_journey/<%= @journey.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>

  </div>

  <div class="btn-group btn-group-justified">

    <form action="/create_seat" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for journey_id -->
      <div class="form-group">
        <input type="hidden" id="journey_id" name="journey_id" placeholder="Journey" class="form-control" value="<%= @journey.id %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
      </div>

      <button class="btn btn-success">
        Take Seat
      </button>

    </form>

  </div>
</div>
