<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <!-- Main panel -->
    <div class="panel panel-default">

      <!-- Main panel heading -->
      <div class="panel-heading">
        <h3 class="panel-title">
          Get a fare estimate
        </h3>
      </div>

      <!-- Main panel body -->
      <div class="panel-body">




        <form action="/create_journey" method="post">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for origin -->
          <div class="form-group">
            <label for="origin" class="control-label">
              Origin
            </label>

            <input type="text" id="origin" name="origin" placeholder="Origin" class="form-control" value="<%= @fare.origin %>">
          </div>

          <!-- Label and input for destination -->
          <div class="form-group">
            <label for="destination" class="control-label">
              Destination
            </label>

            <input type="text" id="destination" name="destination" placeholder="Destination" class="form-control" value="<%= @fare.destination %>">
          </div>





          <!-- <div id="map"></div>

          <script>
          function initMap() {
            var mapDiv = document.getElementById('map');
            var map = new google.maps.Map(mapDiv, {
              center: {lat: <%= @fare.lat %>, lng: <%= @fare.lng %>},
              zoom: 8
            });


            var infowindow = new google.maps.InfoWindow({
              content: "Click Content"
            });

            var marker = new google.maps.Marker({
              position: {lat: <%= @fare.lat %>, lng: <%= @fare.lng %>},
              map: map,
              title: 'Hello World!',
              icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png'
            });

            marker.addListener('click', function() {
              infowindow.open(map, marker);
            });

          };

          </script>
          <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script> -->




      </div>       <!-- Panel body -->
    </div> <!-- Main panel -->
  </div>
</div>


<!-- Script for Google Maps autocomplete -->
<script type="text/javascript">
function initialize() {
  var input = document.getElementById('origin');
  var autocomplete = new google.maps.places.Autocomplete(input);
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>

<script type="text/javascript">
function initialize() {
  var input2 = document.getElementById('destination');
  var autocomplete2 = new google.maps.places.Autocomplete(input2);
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>
